@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  
  
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to 
  bottom, white, #a6b2c4ff, white);
}

.logo {
  font-size: 16px;
  font-weight: 600;
}

.navbar-root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.link-items {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}